img {
  max-width: 500px;
  height: auto;
}
/* Make the top bar white and remove the shadow */
:root {
    --md-primary-fg-color: #ffffff;
    --md-primary-bg-color: #3b454e;
    --md-text-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.md-header {
    box-shadow: none;
    border-bottom: 1px solid #e6ecf1;
}

/* Change header text and icon colors to dark */
.md-header__button.md-logo,
.md-header__button,
.md-header__title {
    color: #242a31 !important;
}

/* Adjust heading colors in the content */
.md-typeset h1, 
.md-typeset h2, 
.md-typeset h3 {
    color: #242a31;
}

/* Adjust sidebar menu links */
.md-nav__link {
    color: #5c6975;
}

.md-nav__link--active,
.md-nav__link:hover {
    color: #3884ff;
}